
.selection {
	width: 100px;
}
.play_area {
	width: auto;
}
.row {
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
.card {
	width: 80px;
	height: 120px;
	display: inline-block;
	background: url("../pictures/cardfaces.png");
}
.S { background-position-y: 0px}
.C { background-position-y: -120px}
.H { background-position-y: -240px}
.D { background-position-y: -360px}
.f-A { background-position-x: 0px }
.f-2 { background-position-x: -80px }
.f-3 { background-position-x: -160px }
.f-4 { background-position-x: -240px }
.f-5 { background-position-x: -320px }
.f-6 { background-position-x: -400px }
.f-7 { background-position-x: -480px }
.f-8 { background-position-x: -560px }
.f-9 { background-position-x: -640px }
.f-X { background-position-x: -720px }
.f-J { background-position-x: -800px }
.f-Q { background-position-x: -880px }
.f-K { background-position-x: -960px }
.flipped {
	/*background-position: 0px -480px;*/
}
.correct {
	background-position: -120px -480px
}
