body {
	--x: 80px;
	--y: 120px;
}
table, tr, th {
	border-collapse: collapse;
  border: 1px solid black;
  border-spacing: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.selection {
	width: 100px;
}
.play_area {
	width: auto;
}
.card {
	width: 80px;
	height: 120px;
	display: inline-block;
	background: url("../pictures/cardfaces.png");
}
.S { background-position-y: calc(0 * var(--y))}
.H { background-position-y: calc(-1 * var(--y))}
.C { background-position-y: calc(-2 * var(--y))}
.D { background-position-y: calc(-3 * var(--y))}
.f-A { background-position-x: calc(0 * var(--x))}
.f-2 { background-position-x: calc(-1 * var(--x))}
.f-3 { background-position-x: calc(-2 * var(--x))}
.f-4 { background-position-x: calc(-3 * var(--x))}
.f-5 { background-position-x: calc(-4 * var(--x))}
.f-6 { background-position-x: calc(-5 * var(--x))}
.f-7 { background-position-x: calc(-6 * var(--x))}
.f-8 { background-position-x: calc(-7 * var(--x))}
.f-9 { background-position-x: calc(-8 * var(--x))}
.f-X { background-position-x: calc(-9 * var(--x))}
.f-J { background-position-x: calc(-10 * var(--x))}
.f-Q { background-position-x: calc(-11 * var(--x))}
.f-K { background-position-x: calc(-12 * var(--x))}
.flipped {
	background-position: 0px -480px;
}
.correct {
	background-position: -120px -480px;
}
